<html>
<head>


<title>Welkom bij Plate Ticketsystem</title>
<%= favicon_link_tag asset_path('icon.png') %>


</head>





<body>
<% provide(:title, "Log in") %>
<h1>Inloggen</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>
        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
</div>
</body>
</html>
