<html>
<head>

<title>Welkom bij Plate Ticketsystem</title>
<%= favicon_link_tag asset_path('icon.png') %>

</head>
<body>

<div class="vertical-menu">
    <a href="#" class="active">Home</a>
    <a href="#">Over het systeem</a>
    <a href="#">Inloggen</a>
</div>



</body>
</html>
