$color_1: black;
$color_2: white;
$background_color_1: #eee;
$background_color_2: #ccc;
$background_color_3: #ff5722;

.vertical-menu {
    padding-left: 90%;
	width: 100%;
	a {
		background-color: $background_color_1;
		color: $color_1;
		display: block;
		padding: 12px;
		text-decoration: none;
		&:hover {
			background-color: $background_color_2;
		}
	}
	a.active {
		background-color: $background_color_3;
		color: $color_2;
	}
}
